################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeekBurguer.LabelLoader/obj
/GeekBurguer.LabelLoader/bin/Debug/netcoreapp2.0
