################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeekBurguer.LabelLoader/obj
/GeekBurguer.LabelLoader/bin/Debug/netcoreapp2.0
/GeekBurguer.LabelLoader/bin/Debug/netcoreapp2.2
/GeekBurguer.LabelLoader.Web/obj
/GeekBurguer.LabelLoader.Web/bin/Debug/netcoreapp2.0
/GeekBurger.LabelLoader/obj
/GeekBurger.LabelLoader.Web/bin/Debug/netcoreapp2.2
/GeekBurger.LabelLoader.Web/obj
/GeekBurger.LabelLoader/bin/Debug
/GeekBurger.LabelLoader.Web/bin/Release/netcoreapp2.2
