################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GeekBurguer.LabelLoader/obj
/GeekBurguer.LabelLoader/bin/Debug/netcoreapp2.0
/GeekBurguer.LabelLoader/bin/Debug/netcoreapp2.2
/GeekBurguer.LabelLoader.Web/obj
